html{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
}


.first{
    background-color: red;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px ;
}

.first h1{
    text-align: center;
    
}


